.homeLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f0f0f0;
    width: 300px;
    height: 250px;
    border-radius: .8em;
}

button {
    font-size: 1rem;
    width: 200px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 0.25rem;
    background-color: #5dbea3;
    color: #fff;
    cursor: pointer;
}

.forma{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logintext{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#email{
    border-radius: .5em;
    border: none;
    height: 25px;
    font-size: medium;
}

#name_surname{
    border-radius: .5em;
    border: none;
    height: 25px;
    font-size: medium;
}

#password{
    margin-bottom: 15px; 
    border-radius: .5em;
    border: none;
    height: 25px;
    font-size: medium;
}

.logInArg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.formSub{
    background-color: #b0dbcf;
    border-radius: 1em;
    width: 400px;
    height: 340px;
    margin-left: 70px;
    margin-top: 70px
}

.usable{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.adminspec{
    margin-left: 70px; 
    margin-top: 70px 
}
.nesto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.big{
    /*#add8e6*/
    background-color: #b0dbcf;
    width: 700px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}

.slika{
    height: 200px;
    width: 200px;
    border-radius: 1.5em;
    margin: 5px;
}

.log{
    background-color: #f0f0f0;
}

.container{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #b0dbcf;
    width: 300px;
    border-radius: 1.5em;
    margin: 10px;
    
}

.containers{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.imageContainer{
    height: 200px;
    width: 200px;
    border-radius: 6em;
    margin-top: 15px;
}

.footer{
    height: 100px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.school{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 100%;
}

.subjects{
    border: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subject{
    width: 280px;
    background-color: #b0dbcf;
    height: 50px;
    border-radius: .5em;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.grade{
    width: 450px;
    background-color: #f0f0f0;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.grades{
    overflow-y:scroll; 
    height:450px;
    margin-left: 30px;
}

.property{
    margin-left: 10px;
}

.profilebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: #b0dbcf;
    border-radius: 1em;
    margin: 35px;
}
.profilebox p{
    margin: 5px;
}

.student{
    width: 450px;
    background-color: #f0f0f0;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.students{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y:scroll; 
    height:450px;
}

#profgrades{
    height:250px;
}

.formaProf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.insertgrade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttonZaboravljenaLoz{
    background-color: #bbd8d0;
}